.sp-container {
    display: flex;
    align-items: center;
    background-color: var(--hover-bg); 
    
    padding: 6px 12px;
    border-radius: 4px;
    width: fit-content;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid var(--border-color); 
    
    user-select: none; 
    transition: background-color 0.3s, border-color 0.3s;
}

.sp-left-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 15px;
    border-right: 1px solid var(--border-color); 
    
    transition: opacity 0.2s;
}

.sp-left-section:hover {
    opacity: 0.7;
}

.sp-play-btn {
    background: none;
    border: none;
    color: var(--text-primary); 
    
    font-size: 12px;
    margin-right: 8px;
    cursor: pointer;
    padding: 0;
}

.sp-text-label {
    font-size: 13px;
    color: var(--text-primary); 
    
    font-weight: bold;
}

.sp-right-section {
    padding-left: 10px;
}

.sp-select-box {
    border: none;
    background: transparent;
    font-size: 13px;
    color: var(--text-secondary); 
    
    cursor: pointer;
    outline: none;
    font-weight: bold;
    padding: 2px;
}

.sp-select-box option {
    background-color: var(--bg-content);
    color: var(--text-primary);
}

.sp-select-box:hover {
    color: var(--text-primary); 
}