
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    
    background-color: var(--bg-content);
    border: 1px solid var(--border-color); 
    color: var(--text-secondary);
    
    width: 50px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}

.scroll-to-top:hover {
    background-color: var(--hover-bg); 
    
    color: #3202d0; 
    border-color: #3202d0;
}


[data-theme='dark'] .scroll-to-top:hover {
    color: #66b2ff; 
    border-color: #66b2ff;
}

.scroll-to-top svg {
    margin-bottom: -2px;
}

.scroll-to-top span {
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}